<html>
    <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--javascript-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="../static/style.css">
        <script  src="activePage.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="http://127.0.0.1:5000/index">Job Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white active" href="http://127.0.0.1:5000/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="http://127.0.0.1:5000/Company Questions">Company Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="http://127.0.0.1:5000/IT">IT Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="http://127.0.0.1:5000/Opportunity">Your Opportunity </a>
            </li>
          </ul>
          <ul class="navbar-nav  my-2 my-lg-0">
              <li class="nav-item">
              <a class="nav-link text-white" href="http://127.0.0.1:5000/profile">Profile</a>
            </li>
              <li class="nav-item">
              <a class="nav-link text-white" href="http://127.0.0.1:5000/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <h4 class="job2">Available Job Opportunities</h4>
    <!--card view -->
    <div class="container">
    <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">Software Engineering - CIB_SHE CODES_2023</h5>
    <h6 class="card-subtitle mb-2 text-muted">JPMorgan Chase & Co.  Bengaluru, Karnataka, India Hybrid </h6>
      <p class="card-text">Looking for a JAVA Developer with Experience ranging between 4 to 11 Years</p>
      <p>Looking for a JAVA Developer with Experience ranging between 4 to 11 Years
          Core Java 8 Concepts,Spring ,Spring boot ,REST API ,Design patterns MicroServices,Angular / React / JavaScript,etc..</p>
    <a href="https://jpmc.fa.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1001/" class="card-link">Company Websites</a>
    <a href="https://jpmc.fa.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1001/job/210360854/?utm_medium=jobshare&src=LinkedIn_JPMC" class="card-link">Apply link</a>
  </div>
   </div>
    </div>
   </div>
        <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">HPE Intern 2023</h5>
    <h6 class="card-subtitle mb-2 text-muted">Hewlett Packard Enterprise  Bengaluru, Karnataka, India On-site </h6>
      <p class="card-text">Job Description

College/University Graduate hires (within 12 months of graduation per the company's definition) undergoing a specific training and development path within the India Graduate Program.</p>
    <a href="https://www.hpe.com/us/en/home.html" class="card-link">Company Websites</a>
    <a href="https://careers.hpe.com/us/en/job/1129983/HPE-Intern-2023?utm_source=linkedin" class="card-link">Apply link</a>
  </div>
   </div>
    </div>
  </div>
        <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Internal Firm Services Associate 2 - Full-Time 2023</h5>
    <h6 class="card-subtitle mb-2 text-muted">JPMorgan Chase & Co.  Bengaluru, Karnataka, India Hybrid </h6>
      <p class="card-text">Job Description & Summary
A career in our Internal Firm Services Acceleration Centre is the natural extension of PwC’s leading class global delivery capabilities. We provide premium, cost effective, high quality services that support process quality and delivery capability in support for client engagements.</p>
    <a href="https://www.pwc.com/gx/en/careers/job-search.html" class="card-link">Company Websites</a>
    <a href="https://pwc.wd3.myworkdayjobs.com/Global_Experienced_Careers/job/Kolkata/Internal-Firm-Services-Associate-2---Full-Time-2023_364476WD?source=891422" class="card-link">Apply link</a>
   </div>
    </div>
    </div>
    </div>
         <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Microsoft FED ReactJS Application Developer</h5>
    <h6 class="card-subtitle mb-2 text-muted">Accenture in India  Bengaluru, Karnataka, India</h6>
      <p class="card-text">Key Responsibilities : 1:Work closely with client and team and understanding the requirement, design,analyse and do the code changes 2:Helping team and client to resolve production issues 3:Should able to handle day to day activity like team management, daily meeting etc</p>
    <a href="https://www.accenture.com/in-en" class="card-link">Company Websites</a>
    <a href="https://www.accenture.com/in-en/careers/jobdetails?id=673577_india_1&src=LINKEDINJP" class="card-link">Apply link</a>
   </div>
    </div>
    </div>
     </div>
              <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Microsoft FED ReactJS Application Developer</h5>
    <h6 class="card-subtitle mb-2 text-muted">Accenture in India  Bengaluru, Karnataka, India</h6>
      <p class="card-text">Key Responsibilities : 1:Work closely with client and team and understanding the requirement, design,analyse and do the code changes 2:Helping team and client to resolve production issues 3:Should able to handle day to day activity like team management, daily meeting etc</p>
    <a href="https://www.accenture.com/in-en" class="card-link">Company Websites</a>
    <a href="https://www.accenture.com/in-en/careers/jobdetails?id=673577_india_1&src=LINKEDINJP" class="card-link">Apply link</a>
   </div>
    </div>
    </div></div></div>
    </body>
</html>