<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--javascript-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
    <h4 class="job2">Easily Find Your Career Growth</h4>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Rank No</th>
                <th scope="col">Name</th>
                <th scope="col">Revenue</th>
                <th scope="col">Market Cap</th>
                <th scope="col">Total Assets</th>
                <th scope="col">Promoter Holding</th>
                <th scope="col">Listed Stock Exchange</th>
                <th scope="col">Ticker Symbol</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>TCS</td>
                <td>Rs 1,95,772 Crore</td>
                <td>Rs 11,81,636 Crore</td>
                <td>Rs 1,40,924 Crore</td>
                <td> 72.30%</td>
                <td>BSE & NSE</td>
                 <td>TCS</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Infosys</td>
                <td>Rs 1,23,936 Crore</td>
                <td> Rs 6,48,039 Crore</td>
                <td>Rs 1,16,729 Crore</td>
                <td>13.11%</td>
                <td>BSE & NSE</td>
                 <td> INFY</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>HCL Tech</td>
                <td>Rs 35,673 Crore</td>
                <td>Rs 2,58,660 Crore</td>
                <td>Rs 54,693 Crore</td>
                <td> 60.72%</td>
                <td>BSE & NSE</td>
                 <td>HCLTECH</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td> Wipro</td>
                <td>Rs 50,299.40 Crore</td>
                <td>Rs 2,31,235 Crore</td>
                <td>Rs 65,688 Crore</td>
                <td>73.02%</td>
                <td>BSE & NSE</td>
                 <td>WIPRO</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Tech Mahindra</td>
                <td>Rs 45,761 Crore</td>
                <td>Rs 1,19,638 Crore</td>
                <td>Rs 39,601 Crore</td>
                <td> 35.7%</td>
                <td>BSE & NSE</td>
                 <td>TECHM</td>
              </tr>
            <tr>
                <th scope="row">6</th>
                <td> Mindtree</td>
                <td>Rs 10,832.60 Crore</td>
                <td>Rs 55,590 Crore</td>
                <td>Rs 8,157.30 Crore</td>
                <td>61%</td>
                <td>BSE & NSE</td>
                 <td>MINDTREE</td>
              </tr>
            <tr>
                <th scope="row">7</th>
                <td>Persistent Systems Ltd.</td>
                <td>Rs 2,412.40 Crore</td>
                <td>Rs 25,243 Crore</td>
                <td>Rs 3,993.80 Crore</td>
                <td>50.18%</td>
                <td>BSE & NSE</td>
                 <td>COFORGE</td>
              </tr>
            <tr>
                <th scope="row">8</th>
                <td>L&T Infotech</td>
                <td>Rs 6,722.10 Crore</td>
                <td>Rs 40,458 Crore</td>
                <td>Rs 5,066.20 Crore</td>
                <td>73.88%</td>
                <td>BSE & NSE</td>
                 <td>LTTS</td>
              </tr>
            <tr>
                <th scope="row">9</th>
                <td>MphasiS</td>
                <td>Rs 12,121.89 Crore</td>
                <td>Rs 40,486 Crore</td>
                <td>Rs 9,364.66 Crore</td>
                <td>55.72%</td>
                <td>BSE & NSE</td>
                 <td>MPHASIS</td>
              </tr>
            <tr>
                <th scope="row">10</th>
                <td>Oracle Fin Service</td>
                <td>Rs 5,355.80 Crore</td>
                <td>Rs 27,674 Crore</td>
                <td> Rs 8,152 Crore</td>
                <td>73.02%</td>
                <td>BSE & NSE</td>
                 <td> OFSS</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>