<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--javascript-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="../static/style.css">
        <script  src="activePage.js"></script>
    </head>
    <body style="background-image:url(../static/image/background.jpg)";>
        <h3 class="card-sub">TOP COMAPNYS SMAPLE QUESTIONS</h3>
        <h5 class="card-sub">Looking Forward To a Great Career</h5>
        <div class="container" id="card">
            <div class="row">
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">CISCO</h5>
                      <h6 class="card-subtitle mb-2 text-muted">CISCO-Placement-Paper</h6>
                      <p class="card-text">Cisco Systems, Inc. is a leading networking company best known as a manufacturer and vendor of networking equipment. The company also provides software and offers related services.</p>
                      <a href="https://www.cisco.com/c/en_in/index.html" class="card-link">Vist website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/CISCO-Placement-Paper.pdf" class="card-link">Sample Questions</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">Cognizant</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Cognizant-Previous-Year-Placement-Paper</h6>
                      <p class="card-text">Cognizant is an American multinational information technology services and consulting company.It is headquartered in Teaneck, New Jersey, United States.</p>
                      <a href="https://www.cognizant.com/in/en" class="card-link">Vist Website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/Cognizant-Previous-Year-Placement-Paper.pdf" class="card-link">Samaple Questions</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">Dell</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Dell-Technical-Round-Model-Paper</h6>
                      <p class="card-text">Dell Technologies Inc (Dell) is a provider of desktop personal computers, software, and peripherals. The company designs, develops, manufactures, markets, sells.</p>
                      <a href="https://jobs.dell.com/search-jobs/India/375/2/1269750/22/79/50/2?utm_source=google.com&utm_medium=paid_search&utm_campaign=Global&utm_content=search_engine&utm_term=331809815&ss=paid&gclid=CjwKCAiA68ebBhB-EiwALVC-Nkx-TT4Dvs91H5F2UAVrKErq_9dcXZScfb-GS5178IiZoCNbnN0f5xoC3W4QAvD_BwE" class="card-link">Vist Website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/Dell-Technical-Round-Model-Paper.pdf" class="card-link">Samaple Questions</a>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="container" id="card">
            <div class="row">
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">Deloitte</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Deloitte-Model-Placement-Question-Paper</h6>
                      <p class="card-text">Deloitte” is the brand under which tens of thousands of dedicated professionals in independent firms throughout the world collaborate to provide audit & assurance.</p>
                      <a href="https://www2.deloitte.com/global/en/careers/job-search.html" class="card-link">Vist website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/Deloitte-Model-Placement-Question-Paper.pdf" class="card-link">Sample Questions</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">HCL</h5>
                      <h6 class="card-subtitle mb-2 text-muted">HCL-Mock-Placement-Paper</h6>
                      <p class="card-text">The company offers a wide range of solutions in IT infrastructure management services, digital process operations, cloud native services, digital & analytics services, IoT works, HCL software services,</p>
                      <a href="https://www.hcltech.com/careers/Careers-in-india" class="card-link">Vist Website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/HCL-Mock-Placement-Paper.pdf" class="card-link">Samaple Questions</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">Infosys</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Infosys-Model-Placement-QA</h6>
                      <p class="card-text">Established in 1981, Infosys is a NYSE listed global consulting and IT services company with more than 345k employees. From a capital of US$250, we have grown to become a US$ 17.53 billion </p>
                      <a href="https://www.infosys.com/careers.html" class="card-link">Vist Website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/Infosys-Model-Placement-QA.pdf" class="card-link">Samaple Questions</a>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="container" id="card">
            <div class="row">
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">Accenture</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Previous-Year-Accenture-Model-Paper</h6>
                      <p class="card-text">Combining unmatched experience and specialized skills across more than 40 industries, we offer Strategy and Consulting, Technology and Operations services.</p>
                      <a href="https://www.accenture.com/in-en/careers" class="card-link">Vist website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/Previous-Year-Accenture-Model-Paper.pdf" class="card-link">Sample Questions</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">TCS-NQT</h5>
                      <h6 class="card-subtitle mb-2 text-muted">TCS-NQT-Practice-Paper-1</h6>
                      <p class="card-text">Tata Consultancy Services (TCS) is an Indian multinational information technology (IT) services and consulting company with its headquarters in Mumbai.<br><br></p>
                      <a href="https://www.tcs.com/careers" class="card-link">Vist Website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/TCS-NQT-Practice-Paper-1.pdf" class="card-link">Samaple Questions</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                      <h5 class="card-title">Wipro</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Wipro-WILP-Placement-Papers-with-Answers-Set-1</h6>
                      <p class="card-text">Wipro Limited (NYSE: WIT, BSE: 507685, NSE: WIPRO) is a leading technology services and consulting company focused on building innovative solutions.</p>
                      <a href="https://careers.wipro.com/careers-home/" class="card-link">Vist Website</a>
                      <a href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/plc/placement/Wipro-WILP-Placement-Papers-with-Answers-Set-1.pdf" class="card-link">Samaple Questions</a>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
    </body>
</html>